@background-color: color("#87ac58");
@heading-color: blue;
@heading-alfa-color: yellow;
@danger-color: red;

body {
    background-color: @background-color;
}

.b-heading {
    color: @heading-color;
}

.b-heading__level_alpha {
    color: @heading-alfa-color;
}

.b-heading--underlined {
   text-decoration: underline;
}

.b-wrapper {
    padding: 20px;

    &__form {
        margin-top: round(29.9px);
    }

    &__image {
        margin-top: 25px;
        width: 90%;
    }
}

.b-wrapper__link {
    font-size: abs(-25px);

    &--important {
        color: @danger-color;
        font-weight: bold;
    }

    &--info {
        color: maroon;
        font-weight: bold;
    }
}