body {
    background-color: #abcabc;

    h1 {
        color: blue;
    }

    .wrapper {
        padding: 20px;
    }

    a {
        font-size: 20px;

        &.text-danger {
            color: red;
            font-weight: bold;
        }
    }
}