<header class="header">
  <h3 class="header-title">todos</h3>
  <div class="new-todo">
    <label for="new-todo"></label>
    <input id="new-todo"
           class="new-todo-input"
           type="text"
           placeholder="What needs to be done?"
           autocomplete="off"
           name="newTodoText"
           (keyup.enter)="addTodo()"
           [(ngModel)]="newTodoText"
           #todoInput
    />
  </div>
</header>

<ul class="todo-list">
  <app-todo-item *ngFor="let todo of todoList"
                 [todoItem]="todo"
                 (removeTodo)="removeTodo($event)"
  >
  </app-todo-item>
</ul>

