:host {
  display: block;
  padding: 40px 0;
}

.header {
  margin-bottom: 30px;

  &-title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 100px;
    font-weight: 100;
    line-height: 1;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    text-rendering: optimizeLegibility;
  }

  .new-todo {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);

    &-input {
      background-color: rgba(0, 0, 0, 0.003);
      outline: none;
      margin: 0;
      width: 100%;
      font-size: 24px;
      font-family: inherit;
      font-weight: inherit;
      line-height: 1.4em;
      color: inherit;
      -webkit-font-smoothing: antialiased;
      padding: 16px 16px 16px 60px;
      border: none;
      box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);

      &::placeholder {
        font-style: italic;
        font-weight: 300;
        color: #e6e6e6;
      }
    }
  }

}

.todo-list {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}
