<header class="header">
  <h1 class="header-title">todos</h1>
  <div class="new-todo">
    <label for="new-todo"></label>
    <input id="new-todo"
           class="new-todo-input"
           type="text"
           placeholder="What needs to be done?"
           autocomplete="off"
           name="newTodoText"
           [(ngModel)]="newTodoText"
    />
  </div>
</header>

<ul class="todo-list">
  <ng-container *ngFor="let todo of todoList">
    <app-todo-item [todoItem]="todo"></app-todo-item>
  </ng-container>
</ul>
