body {
    background: #ccc;
}

.wrapper {
    padding: 0 20px;
}

.mt-sm {
    margin-top: 20px;
}

.flex-container {
    height: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-items: flex-end; */
}

.flex-item {
    border: 1px solid red;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 300px;
    /* flex-basis: 25%; */
    /* flex-grow: 1; */
}

.box-1 {
    color: darkslategrey;
    /* flex: 2;
    order: 2; */
}
.box-2 {
    color: darkslategrey;
    /* flex: 2;
    order: 1; */
}
.box-3 {
    color: darkslategrey;
    /* flex: 1;
    order: 3; */
}

.box-4 {
    color: darkslategrey;
    /* flex: 1;
    order: 4; */
}

.box-5 {
    color: darkslategrey;
    /* flex: 1;
    order: 5; */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.grid-item {
    background-color: yellow;
    padding: 1.5rem;
    border-radius: 1rem;
}

.grid-item:first-child {
    grid-column-start: 1; /*starts from 1*/
    grid-column-end: 3; /*exclusive*/
}